# Data Engineer - Extract API Data

## Objectives

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use to call the API below.

### Call the API

Using the `requests` library call the endpoint given above and save the text:

In [11]:
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=BuQfZzIR55EFid2FgY5dZGMuRXF52zjs" 
html_data = requests.get(url).text

data = str(html_data).splitlines()[6:-2]
data

['        "AED": 3.974663,',
 '        "AFN": 95.250021,',
 '        "ALL": 113.401548,',
 '        "AMD": 418.134156,',
 '        "ANG": 1.950207,',
 '        "AOA": 581.028456,',
 '        "ARS": 250.735777,',
 '        "AUD": 1.628117,',
 '        "AWG": 1.949638,',
 '        "AZN": 1.845336,',
 '        "BAM": 1.954103,',
 '        "BBD": 2.184903,',
 '        "BDT": 116.219102,',
 '        "BGN": 1.958004,',
 '        "BHD": 0.407966,',
 '        "BIF": 3052.312462,',
 '        "BMD": 1.08238,',
 '        "BND": 1.453438,',
 '        "BOB": 7.477508,',
 '        "BRL": 5.366981,',
 '        "BSD": 1.082061,',
 '        "BTC": 4.0399953e-05,',
 '        "BTN": 89.199659,',
 '        "BWP": 14.662864,',
 '        "BYN": 2.731329,',
 '        "BYR": 21214.65399,',
 '        "BZD": 2.181206,',
 '        "CAD": 1.46051,',
 '        "CDF": 2498.133879,',
 '        "CHF": 0.973655,',
 '        "CLF": 0.031338,',
 '        "CLP": 864.821885,',
 '        "CNY": 7.572762,',
 '        "COP": 4918.152104,',
 '        "CRC": 577.798371,',
 '        "CUC": 1.08238,',
 '        "CUP": 28.683078,',
 '        "CVE": 110.175367,',
 '        "CZK": 23.677508,',
 '        "DJF": 192.672727,',
 '        "DKK": 7.445337,',
 '        "DOP": 59.018761,',
 '        "DZD": 147.584734,',
 '        "EGP": 33.44598,',
 '        "ERN": 16.235705,',
 '        "ETB": 59.052532,',
 '        "EUR": 1,',
 '        "FJD": 2.401045,',
 '        "FKP": 0.866486,',
 '        "GBP": 0.868101,',
 '        "GEL": 142.619808,',
 '        "GGP": 0.866486,',
 '        "GHS": 11.933287,',
 '        "GIP": 0.866486,',
 '        "GMD": 64.531167,',
 '        "GNF": 9301.924312,',
 '        "GTQ": 8.440672,',
 '        "GYD": 228.8713,',
 '        "HKD": 8.475179,',
 '        "HNL": 26.594911,',
 '        "HRK": 7.516417,',
 '        "HTG": 155.824717,',
 '        "HUF": 370.287722,',
 '        "IDR": 16108.579017,',
 '        "ILS": 3.946483,',
 '        "IMP": 0.866486,',
 '        "INR": 89.226075,',
 '        "IQD": 1417.569303,',
 '        "IRR": 45760.315245,',
 '        "ISK": 151.479118,',
 '        "JEP": 0.866486,',
 '        "JMD": 167.474603,',
 '        "JOD": 0.768577,',
 '        "JPY": 148.690367,',
 '        "KES": 148.430077,',
 '        "KGS": 94.727864,',
 '        "KHR": 4450.136507,',
 '        "KMF": 490.858262,',
 '        "KPW": 974.162528,',
 '        "KRW": 1446.861551,',
 '        "KWD": 0.332377,',
 '        "KYD": 0.901792,',
 '        "KZT": 487.323412,',
 '        "LAK": 19004.500787,',
 '        "LBP": 16242.498686,',
 '        "LKR": 329.753716,',
 '        "LRD": 181.027742,',
 '        "LSL": 20.651836,',
 '        "LTL": 3.195988,',
 '        "LVL": 0.654721,',
 '        "LYD": 5.179503,',
 '        "MAD": 10.978042,',
 '        "MDL": 19.180348,',
 '        "MGA": 4759.867607,',
 '        "MKD": 61.668888,',
 '        "MMK": 2272.427138,',
 '        "MNT": 3767.046841,',
 '        "MOP": 8.724825,',
 '        "MRO": 386.409583,',
 '        "MUR": 49.137362,',
 '        "MVR": 16.614265,',
 '        "MWK": 1113.633173,',
 '        "MXN": 19.059537,',
 '        "MYR": 4.897714,',
 '        "MZN": 68.460945,',
 '        "NAD": 20.651612,',
 '        "NGN": 498.648945,',
 '        "NIO": 39.575641,',
 '        "NOK": 11.699925,',
 '        "NPR": 142.719095,',
 '        "NZD": 1.734401,',
 '        "OMR": 0.416736,',
 '        "PAB": 1.082061,',
 '        "PEN": 3.989237,',
 '        "PGK": 3.826678,',
 '        "PHP": 60.741562,',
 '        "PKR": 308.617966,',
 '        "PLN": 4.5136,',
 '        "PYG": 7773.251465,',
 '        "QAR": 3.940977,',
 '        "RON": 4.96057,',
 '        "RSD": 117.233046,',
 '        "RUB": 86.763254,',
 '        "RWF": 1212.547298,',
 '        "SAR": 4.058895,',
 '        "SBD": 9.005451,',
 '        "SCR": 13.77544,',
 '        "SDG": 649.976056,',
 '        "SEK": 11.322326,',
 '        "SGD": 1.453447,',
 '        "SHP": 1.316986,',
 '        "SLE": 24.722462,',
 '        "SLL": 21377.011252,',
 '        "SOS": 615.874687,',
 '        "SRD": 40.56924,',
 '        "STD": 22403.087009,',
 '        "SVC": 9.468779,',
 '        "SYP": 2719.489252,',
 '        "SZL": 20.79095,',
 '        "THB": 37.124712,',
 '        "TJS": 11.822036,',
 '        "TMT": 3.799155,',
 '        "TND": 3.328343,',
 '        "TOP": 2.55025,',
 '        "TRY": 21.386726,',
 '        "TTD": 7.344624,',
 '        "TWD": 33.315126,',
 '        "TZS": 2553.334855,',
 '        "UAH": 39.966102,',
 '        "UGX": 4030.500824,',
 '        "USD": 1.08238,',
 '        "UYU": 42.163395,',
 '        "UZS": 12393.240511,',
 '        "VEF": 2755345.802425,',
 '        "VES": 27.834319,',
 '        "VND": 25387.230068,',
 '        "VUV": 128.501393,',
 '        "WST": 2.937354,',
 '        "XAF": 655.388009,',
 '        "XAG": 0.045564,',
 '        "XAU": 0.000546,',
 '        "XCD": 2.925187,',
 '        "XDR": 0.804601,',
 '        "XOF": 655.394059,',
 '        "XPF": 119.332775,',
 '        "YER": 270.946872,',
 '        "ZAR": 20.850465,',
 '        "ZMK": 9742.718573,',
 '        "ZMW": 20.100549,',
 '        "ZWL": 348.526017']

### Save as DataFrame

Using the data gathered, turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [16]:
# Turn the data into a dataframe
currency_data = pd.DataFrame(columns=["Currency", "Rate"])

for row in data:
    col = row.split(":")
    Currency = col[0].strip()[1:-1]
    Rates = col[1].replace(",","")
                
    currency_data = currency_data.append({"Currency":Currency,"Rate":Rates},ignore_index=True)

currency_data.set_index("Currency", inplace = True)
currency_data.head()

                 Rate
Currency
AED          3.974663
AFN         95.250021
ALL        113.401548
AMD        418.134156
ANG          1.950207

In [25]:
# Drop unnescessary columns

currency_data.index.name # Returns index name
currency_data.rename_axis(None, inplace=True) # Set the name of the axis for the index to None
currency_data.head()

            Rate
AED     3.974663
AFN    95.250021
ALL   113.401548
AMD   418.134156
ANG     1.950207

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [26]:
# Save the Dataframe
currency_data.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |